<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sales Forecasting & Analysis System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap" rel="stylesheet">
</head>

<body>
    <div class="hero-container">
        <div class="hero-content">
            <h1>Sales Forecasting & Analysis System</h1>
            <p>Empowering your business with AI-driven insights and real-time sales predictions.</p>
            <button class="primary-btn">Get Started</button>
            <p></p>
            <h3>Start the Project</h3>
        </div>
    </div>
</body>

</html>